/* 
This file contains the CSS which corresponds to the Module2 assignment.

- A convenient way to understand the naming convention: 3 cards each with a tag and description.
  = See corresponding div class names here and index.html
- Comments added to make the assignment requirements stand out.

Attribution: 
- Coursera:  HTML, CSS, and Javascript for Web Developers;
- https://www.w3schools.com/

Author: Erick Hong;
Course:  JHU/787;
Instructor: Yaakov Chaikin;
*/

/*******************************   
- Reset default browser margin and padding
- Font size is set to 100% of default  
 ******************************/
body {
  margin: 0;  
  padding: 0;
  background-color: #F8F8F8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

/*******************************   
- Font size is set to 75% larger than default with spacing
 ******************************/
.page-title {
  text-align: center;
  font-size: 175%;
  margin: 50px;
}

/*******************************   
- Overall container adds padding to the left and right to match spacing between cards
 ******************************/
.container {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  width: 100%;
  background-color: #F8F8F8;
}

/*******************************   
- Border box and relative positioning
- Background set
 ******************************/
.card {
  margin: 10px;
  background: #F5E6CC;
  text-align: left;
  height: auto;
  border: 1px solid #000000;     
  position: relative; 
  box-sizing: border-box;
}

/*******************************   
- Absolute positioning anchored to the right
- Size of text is 25% larger than default text
 ******************************/
.tag {
  width: 150px;
  text-align: center;
  background: white;
  border-bottom: 1px solid #000000;   
  border-left: 1px solid #000000;
  position: absolute;
  right: 0px;
  font-weight: bold;
  font-size: 125%;
}

/*******************************   
- Margin add to lower the text below the tag for 
 ******************************/
.desc {
  clear: right;
  padding: 5px;
  font-size: 100%;
  margin-top: 20px;
  padding: 10px;
}

/*******************************   
- Coloring each individual tags by id
 ******************************/
#tag1 {
  background: #85DCBA;
}

#tag2 {
  background: #E27D60;
}

#tag3 {
  background: #84CEEB;
}

[class*="col"] {
  float: left;
  background-color: #F8F8F8;
}

/********** Large devices: >= 992 px **********/

@media(min-width:  992px) {
  .col-lg-1 { width: 8.33%;}
  .col-lg-2 { width: 16.66%;}
  .col-lg-3 { width: 25%;}
  .col-lg-4 {width: 33.33%;}
  .col-lg-5 {width: 41.66%;}
  .col-lg-6 {width: 50%;}
  .col-lg-7 {width: 58.33%;}
  .col-lg-8 {width: 66.66%;}
  .col-lg-9 {width: 75%;}
  .col-lg-10 {width: 83.33%;}
  .col-lg-11 {width: 91.66%;}
  .col-lg-12 {
    width: 100%;
    
  }  
}

/********** Medium devices: >= 768 and <= 991 px **********/
@media (min-width: 768px) and (max-width:  991px) {
  .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 75%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 100%;}
}

/********** Small devices only <= 767 px **********/
@media (max-width: 767px) {
  .col-sm-1 {width: 8.33%;}
  .col-sm-2 {width: 16.66%;}
  .col-sm-3 {width: 25%;}
  .col-sm-4 {width: 33.33%;}
  .col-sm-5 {width: 41.66%;}
  .col-sm-6 {width: 50%;}
  .col-sm-7 {width: 58.33%;}
  .col-sm-8 {width: 66.66%;}
  .col-sm-9 {width: 75%;}
  .col-sm-10 {width: 83.33%;}
  .col-sm-11 {width: 91.66%;}
  .col-sm-12 {width: 100%;}
}
